@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

html,
body {
	scroll-behavior: smooth;
	height: 100%;
}

.nav-overlayed {
	transition: background 0.6s;
	background: white;
}
.nav-overlayed .nav-link {
	color: #071c54;
	-webkit-text-stroke-width: 0;
	text-stroke-width: 0;
}
.nav-overlayed .mobile-menu {
	color: #071c54 !important;
}
.bordered-text {
	--_stroke-clr: rgb(0, 0, 0);
	--_stroke-width: 2px;
	-webkit-text-stroke: var(--_stroke-width) var(--_stroke-clr);
	text-stroke: var(--_stroke-width) var(--_stroke-clr);
	color: white;
}

.swiper-slide {
	width: min(90vw, 400px) !important;
}
/* width */
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #222a35;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #575c66;
	border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #626970;
}

.carousel {
	padding: 1rem;
}
.slide.selected {
	margin-inline: 1.5rem !important;
	min-width: 0;
	width: 100%;
}
.slide:not(.selected) {
	opacity: 0.5;
}

.carousel-status {
	background: rgba(0, 0, 0, 0.253);
	font-size: 1.2rem !important;
	border-radius: 0.5rem;
}

.slider-wrapper {
	width: 100%;
}
.slider-wrapper * {
	width: 100%;
}
.dot {
	background: rgba(0, 0, 0) !important;
}
